
/* elemenet selector */
p {
    text-align: center;
    color: red;
  }

  /* id selector */
  #para1{
    text-align: center;
    color: red;
  }

  /* class selector */

  .center {
    text-align: center;
    color: red;
  }

  /* target specific element should be affected */

  p.center{
    text-align: center;
    color: red;

  }

  /*  universal selector */

  *{
    text-align: center;
    color: red;
  }

  /* grouping selector */

  h1,h2,h3{
    text-align: center;
    color: red;
  }